<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeerTutoringApollo">

        <!-- Entry point: Sign Up -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login screen -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />

        <!-- Onboarding flow (User story 1 + User Story2) -->
        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false" />

        <!-- Home screen (dashboard) -->
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />

        <!-- Browse Tutors screen -->
        <activity
            android:name=".ui.BrowseTutorsActivity"
            android:exported="false" />

        <!-- Tutor Detail screen -->
        <activity
            android:name=".ui.TutorDetailActivity"
            android:exported="false" />

        <!-- Edit Profile + Privacy (US3) -->
        <activity
            android:name=".ui.EditProfileActivity"
            android:label="Profile Settings"
            android:exported="false" />

        <!-- Session Requests Activity -->
        <activity
            android:name=".ui.SessionRequestsActivity"
            android:exported="false" />

        <!-- New Session Request Activity -->
        <activity
            android:name=".ui.NewSessionRequestActivity"
            android:exported="false" />

        <!-- Tutor Offers Activity -->
        <activity
            android:name=".ui.TutorOffersActivity"
            android:exported="false" />

    </application>

</manifest>